CompileFlags:
  Add:
    - -std=c++17
    - -I.
    - -Ieclipse/include
    - -Iexternal/spdlog/include
    - -Iexternal/glad/include
    - -D_THREAD_SAFE
    - -DGLFW_INCLUDE_NONE
    - -DECLIPSE_PLATFORM_MAC
